{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <button type="button" class="btn btn-primary btn-lg btn-block">World cup ODI</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block">World cup TEST</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">World cup T20</button>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/vk1.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/rohit.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/msd1.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
       <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
<button type="button" class="btn btn-link">Link</button>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/trophy3.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">T20</h5>
          <p class="card-text">A Twenty20 International (T20I) is a form of cricket, played between international members of the International Cricket Council (ICC), where each team faces a maximum of twenty overs. These matches hold top-class status and are the highest T20 standard. The game is played under the rules of Twenty20 cricket.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/trophy2.webp' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TEST </h5>
          <p class="card-text">The second ICC World Test Championship started on 4 August 2021 with the Pataudi Trophy series and finished with Australia lifting the trophy after defeating India in the final in June 2023. The 2023-2025 ICC World Test Championship started in 2023 and will conclude with the finals in England in the summer of 2025</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/trophy1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ODI </h5>
          <p class="card-text">The 2023 Cricket World Cup was dominated by India, but Australia's performance in the final was a significant setback for the nation. Australia regained its status as the king of ODI cricket after becoming world champion in test cricket and retaining the Ashes</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>













</body>
</html>
